/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    font: 14px "Trebuchet MS",sans-serif; 
    margin: 0px;
}

#banner {
    padding: 10px 20px;
    background: #acb3b9;

    h1 {
        font-size: 24px;
    }
}

#columns {
    width: 100vw;
    height: 100vh;
    background: #f2f2f2;  
    overflow: auto;
    display: flex;
}

#navigation {
    min-width: 210px;
    height: 100vh;
    background: #d4d7dc;
    float: left; 
    box-sizing: border-box;
    font-family: "Trebuchet MS"; 
    margin: 5px;

    ul {
        list-style: none; 
        line-height: 24px;
        padding: 10px;
    }

    ul li a {
        color: #333;
    }

    li:before {
            content: '\2B9E';
    } 
}

#main {
    width: 80vw;
    height: 100vw;
    float: right;
}
